VITE_FIREBASE_API_KEY=AIzaSyCVYClScVtfSAXdlGGObFlqcvW1B0qXBs4
VITE_FIREBASE_AUTH_DOMAIN=lifewood-website-1dc38.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://lifewood-website-1dc38-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=lifewood-website-1dc38
VITE_FIREBASE_STORAGE_BUCKET=lifewood-website-1dc38.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=781253225537
VITE_FIREBASE_APP_ID=1:781253225537:web:1bfe5592dc671463886ac0
VITE_FIREBASE_MEASUREMENT_ID=G-VGF1ER5XMB